{# src/Stsbl/CancelGroupMembershipBundle/Resources/views/Admin/index.html.twig #}
{% extends bundle ~ "::page.html.twig" %}

{% block page_title %}
    {{ _('Cancel group membership') }} 
    {% if bundle == 'IServCoreBundle' and app.request.attributes.get('_route') == 'manage_cancel_membership' %}
        - {{ _('Administration') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {# insert select2 in non admin view #}
    {% if bundle == 'IServCoreBundle' %}
        {% if app.environment != 'prod' %}
            <!-- {{ _self.templateName }} => mail-as-group_form.js -->
        {% endif %}
        {% javascripts output='js/compiled/cancel-membership-select2.js' filter='?uglifyjs2' '@IServCrudBundle/Resources/public/js/select2.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block content %}   
    <div class="alert alert-warning">
        <strong>{{ _('Notice:') }}</strong> {{ _('If you want to rebecome a member of a group, where you canceled the membership, an administrator or the group owner has to add you again to the group. You can not undo the proccess by yourself.') }}
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}